.button {
    background-color: rgb(173, 226, 164);
    font-size: 17px; 
    color: #333;
    transition: transform 0.2s;
    margin: 10px; }

.button:hover {
    background-color: rgb(102, 135, 87);
    transform: scale(1.05); }